# Sample configuration file for retrogame.
# Really minimal syntax, typically two elements per line w/space delimiter:
# 1) a key name (from keyTable.h; shortened from /usr/include/linux/input.h).
# 2) a GPIO pin number; when grounded, will simulate corresponding keypress.
# Uses Broadcom pin numbers for GPIO.
# If first element is GND, the corresponding pin (or pins, multiple can be
# given) is a LOW-level output; an extra ground pin for connecting buttons.
# A '#' character indicates a comment to end-of-line.
# File can be edited "live," no need to restart retrogame!

# Here's a pin configuration for the CSI Breakout Board. A0, A1, A2, etc corresponds to the pin labels on the board:

IRQ 11 0x20 # This is the interrupt pin and I2C address (default is IRQ 11 0x20, meaning GPIO 11 is the interrupt and the I2C address is 0x20).

A          32  # A0
ESC        33  # A1
C          34  # A2
D          35  # A3
ENTER      36  # A4
F          37  # A5
G          38  # A6
H          39  # A7
I          47  # B0
DOWN       46  # B1
UP         45  # B2
L          44  # B3
M          43  # B4
N          42  # B5
O          41  # B6
P	   40  # B7



# For configurations with few buttons (e.g. Cupcade), a key can be followed
# by multiple pin numbers.  When those pins are all held for a few seconds,
# this will generate the corresponding keypress (e.g. ESC to exit ROM).
# Only ONE such combo is supported within the file though; later entries
# will override earlier.
