# Sample configuration file for retrogame.
# Really minimal syntax, typically two elements per line w/space delimiter:
# 1) a key name (from keyTable.h; shortened from /usr/include/linux/input.h).
# 2) a GPIO pin number; when grounded, will simulate corresponding keypress.
# Uses Broadcom pin numbers for GPIO.
# If first element is GND, the corresponding pin (or pins, multiple can be
# given) is a LOW-level output; an extra ground pin for connecting buttons.
# A '#' character indicates a comment to end-of-line.
# File can be edited "live," no need to restart retrogame!

# Here's a pin configuration for PSPi Version 4 (PCB 1.0 and 1.1):

IRQ 11 0x20 # This is the interrupt pin and I2C address (default is IRQ 11 0x20, meaning GPIO 11 is the interrupt and the I2C address is 0x20).

RIGHTALT   32  # A0 Right Trigger
ESC        33  # A1 Circle
Y          34  # A2 Triangle
X          35  # A3 Square
ENTER      36  # A4 X
#F         37  # A5 Power Switch Down Position
S          38  # A6 Start
D          39  # A7 Select
RIGHT      47  # B0 Right
DOWN       46  # B1 Down
UP         45  # B2 Up
LEFT       44  # B3 Left
LEFTALT    43  # B4 Left Trigger
KPMINUS    42  # B5 +
KPPLUS     41  # B6 -
S     	   40  # B7 Mute



# For configurations with few buttons (e.g. Cupcade), a key can be followed
# by multiple pin numbers.  When those pins are all held for a few seconds,
# this will generate the corresponding keypress (e.g. ESC to exit ROM).
# Only ONE such combo is supported within the file though; later entries
# will override earlier.
